@import url(https://fonts.googleapis.com/css?family=Sono:200,300,regular,500,600,700,800);

.FormContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;


    form {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        font-family: 'Sono', sans-serif;

        input {
            font-size: 2rem;
        }

        h1 {
            
        }
    }
}